{% extends 'base.html.twig' %}

{% block body %}
    <h1>Images disponibles</h1>

    <ul>
        {% for image in images %}
            <li>
                <img src="{{ image.url }}" alt="Image" width="200" />
                <p>{{ image.filename }}</p>
                <a href="http://localhost:8002/api/image/download/{{ image.filename }}" download>Télécharger</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
