<navbar class="navbar bg-base-100 shadow-sm sticky top-0 z-50">
	{% block navbar %}
		<div class="navbar-start">
			<a class="btn btn-ghost text-xl">Admistration</a>
		</div>

		<div class="navbar-center hidden lg:flex">
			<div class="dropdown dropdown-hover dropdown-bottom dropdown-center">
				<a role="button" class="btn m-1" href="/images">Images</a>
				<ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
					<div class="flex w-full flex-col">
						<li><a href="/images">List des images</a></li>
						<div class="divider">Actions</div>
						<li><a href="/upload" class="btn btn-outline">Publier une image</a></li>
					</div>
				</ul>
			</div>
		</div>

		<div class="navbar-end">
			{# dont remove this, it breaks the navbar centering #}
		</div>
	{% endblock %}
</navbar>
