{% extends 'base.html.twig' %}

{% block body %}
	<main>
		<h1>Images disponibles</h1>
		
		{% for image in images %}
			<article>
				<h3>{# add the name #}</h3>
				<img src="{{ image.url }}" alt="Image" width="200" />
				<p>{{ image.filename }}</p>
			</article>
		{% endfor %}
	</main>
{% endblock %}
